.nav {
height: 50px;
padding: 10px;
background: #FFFCF8;
color: #000;
display: flex;
align-items: center;
justify-content: flex-start;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {

}

